// ⭐一、常用自定义
// body属性
body {
  height: 100%;
  margin: 0;
  overflow: auto;
  font-family: Microsoft YaHei;
  font-size: 14px;

  // 滚动条大小
  &::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
  }

  // 滚动条轨道
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  // 滚动条滑块
  &::-webkit-scrollbar-thumb {
    background-color: #55c791;
  }

  // 滚动条右下角
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  // &::-webkit-scrollbar-button:horizontal:single-button:start
  // &::-webkit-scrollbar-button:horizontal:single-button:end
  // &::-webkit-scrollbar-button:vertical:single-button:startz
  // &::-webkit-scrollbar-button:vertical:single-button:end
  &::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url('@/assets/icons/svg/c-scroll-left.svg');
  }

  &::-webkit-scrollbar-button:horizontal:increment {
    background-image: url('@/assets/icons/svg/c-scroll-right.svg');
  }

  &::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('@/assets/icons/svg/c-scroll-up.svg');
  }

  &::-webkit-scrollbar-button:vertical:increment {
    background-image: url('@/assets/icons/svg/c-scroll-down.svg');
  }

  &::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      background-color: #55c791;
    }
  }
}

// 竖向滚动
.x-scroll {
  overflow: auto hidden;

  // 滚动条大小
  &::-webkit-scrollbar {
    display: block !important;
    width: 5px !important;
    height: 5px !important;
  }

  // 滚动条轨道
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #efefef;
  }

  // 滚动条滑块
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--tc);
  }

  // 滚动条右下角
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.y-scroll {
  overflow: hidden auto;

  // 滚动条大小
  &::-webkit-scrollbar {
    display: block !important;
    width: 5px !important;
    height: 5px !important;
  }

  // 滚动条轨道
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #efefef;
  }

  // 滚动条滑块
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--tc);
  }

  // 滚动条右下角
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
