// 搜索
.c-search {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0 10px;
  background-color: var(--bg-card);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 4px 4px;

  .c-search-condition {
    .el-form {
      width: 100%;
      height: 60px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 0;
      padding-left: 10px;
      .search-form-row {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
      }
      .search-form-column {
        height: 60px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        .el-form-item:last-child {
          margin-right: 0;
        }
      }
      .el-form-item {
        display: flex;
        margin: 0 20px 0 0;
        .el-form-item__label {
          flex-shrink: 0;
          padding-right: 10px;
        }
        .el-form-item__content {
          flex-grow: 1;
          min-width: 80px;
          .el-input {
            width: 100%;
          }
          .el-select {
            width: 100%;
          }
        }
      }
    }
  }

  .c-search-operate {
    min-width: 200px;
    height: 100%;
    flex: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    .left {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    .right {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
// 表单
.c-form {
  display: flex;
  flex-direction: column;
  .el-form-item {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding-right: 20px;
    .el-form-item__label {
      width: 110px;
      font-size: 14px;
      font-weight: 700;
      padding: 0 10px 0 0;
      flex-shrink: 0;
    }
    .el-form-item__content {
      min-width: 90px;
      padding: 0;
      flex-grow: 1;
      .el-input {
        width: 100%;
      }
      .el-select {
        width: 100%;
      }
      .el-date-editor {
        width: 100%;
      }
      .el-textarea {
        width: 100%;
      }
      .el-checkbox-group {
        height: 36px;
        .el-checkbox {
          margin-right: 20px;
          .el-checkbox__label {
            padding-left: 5px;
          }
        }
      }
      .el-form-item__error {
        position: absolute;
        white-space: nowrap;
      }
    }
  }
  .c-form-footer {
    padding-right: 20px;
    text-align: right;
    margin-top: auto;
    flex-shrink: 0;
    .el-button {
      margin: 0 20px 0 0;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
.c-require {
  &.el-form-item {
    .el-form-item__label {
      &::before {
        content: '*';
        color: #ff4949;
        margin-right: 4px;
      }
    }
  }
  &:not(.el-form-item) {
    &::before {
      content: '*';
      color: #ff4949;
      margin-right: 4px;
    }
  }
}
// 常用行属性
.c-row {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  &[class*='c-row-aic'] {
    align-items: center;
  }
  &[class*='c-row-fdc'] {
    flex-direction: column;
  }
  .c-column {
    min-height: 30px;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
.c-label {
  width: 110px;
  flex-shrink: 0;
  padding-right: 12px;
  text-align: right;
  line-height: 36px;
  color: var(--fcp);
  font-size: 14px;
  font-weight: 700;
}
.c-content {
  flex: 1;
  color: var(--fcs);
  font-size: 14px;
  line-height: 36px;
}
.c-se-time {
  display: flex;
  flex-shrink: 0;
  .el-form-item {
    &:first-of-type {
      padding-right: 0;
    }
    .el-form-item__content {
      width: 120px;
      flex-shrink: 0;
      .el-date-editor {
        .el-input__inner {
          padding-right: 10px;
        }
      }
    }
  }
  .between-line {
    display: inline-block;
    padding: 0 10px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: var(--bcs);
  }
}
// el-select 多选
.c-multiple-select {
  height: 100%;
  .el-select__tags {
    height: 28px;
    overflow-x: hidden;
    overflow-y: auto;
    // padding: 5px 0;
    // 滚动条大小
    &::-webkit-scrollbar {
      display: block !important;
      width: 1px !important;
      height: 1px !important;
    }
    // 滚动条轨道
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #efefef;
    }
    // 滚动条滑块
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--themeColor);
    }
    // 滚动条右下角
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
  .el-input {
    height: 100%;
    .el-input__inner {
      height: 100%;
      overflow: hidden;
    }
  }
}
// 结果
.c-result {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  height: calc(100% - 90px);
  margin: 10px;
  background-color: var(--bg-card);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 4px 4px;
  .c-result-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bc);
  }
  .c-result-content {
    width: 100%;
    flex: 1;
  }
}
// 表格
.c-table {
  &.el-table {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
    width: calc(100% - 20px);

    margin: 10px;
    overflow: hidden !important;
  }
  .el-table__inner-wrapper {
    &::before,
    &::after {
      height: 0;
    }
    .el-table__header-wrapper {
      flex-shrink: 0;
      .el-table__header {
        width: 100% !important;
      }
    }
    .el-table__body-wrapper {
      flex: 1;
      overflow-y: auto;
      border-right: none;
      .el-scrollbar__view {
        width: 100% !important;
      }
      .el-scrollbar {
        --el-scrollbar-opacity: 1;
        --el-scrollbar-bg-color: var(--tc);
        --el-scrollbar-hover-opacity: 1;
        --el-scrollbar-hover-bg-color: var(--tc);
      }
      // // 滚动条大小
      // &::-webkit-scrollbar {
      //   display: block !important;
      //   width: 4px !important;
      //   height: 4px !important;
      // }
      // // 滚动条轨道
      // &::-webkit-scrollbar-track {
      //   border-radius: 0px;
      //   background-color: #efefef;
      // }
      // // 滚动条滑块
      // &::-webkit-scrollbar-thumb {
      //   border-radius: 4px;
      //   background-color: var(--tc);
      // }
      // // 滚动条右下角
      // &::-webkit-scrollbar-corner {
      //   background: transparent;
      // }

      .el-table__body {
        overflow: visible !important;
        width: 100% !important;
        tbody {
          overflow: visible !important;
        }
      }
    }
    .el-table__border-left-patch {
      width: 0;
    }

    .el-table__row {
      overflow: visible !important;
      .el-table__cell {
        &:has(.c-table-operate-row) {
          overflow: visible !important;
          .cell {
            overflow: visible !important;
            .c-table-operate-row {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              padding: 0 10px 0 10px;
            }
          }
        }
      }
    }
    tr {
      .el-table__cell:last-child {
        border-right: 0 !important;
      }
    }
  }
}

.c-table-update {
  .el-table__cell:has(.el-input) {
    box-sizing: border-box;
    overflow: hidden !important;
    height: 100%;
    padding: 0 !important;
    font-weight: 400;

    .cell {
      width: 100%;
      padding: 0;

      .el-form {
        width: 100%;
        min-height: 39px;

        .el-form-item {
          width: 100%;
          height: 100%;
          margin-bottom: 0;

          .el-form-item__content {
            position: relative;
            width: 100%;
            height: 100%;
          }

          &.is-error {
            height: 39px;

            .el-form-item__error {
              position: absolute;
              top: auto;
              left: 50%;
              bottom: 2px;
              width: 100%;
              height: 12px;
              padding: 0;
              transform: translate(-50%);
            }

            &:has(.el-form-item__error) {
              .el-input {
                display: block !important;
                height: 100% !important;

                .el-input__inner {
                  display: flex;
                  align-items: flex-start !important;
                  padding-bottom: 10px;
                  border: 1px solid red;
                }
              }
            }
          }
        }
      }

      .el-textarea {
        width: 100%;
        height: 100%;

        .el-textarea__inner {
          min-height: 100% !important;
          border-radius: 0;
          border: 0;
          resize: none;

          &:focus {
            border: 1px solid var(--themeColor);
          }
        }

        &[class*='is-disabled'] {
          .el-textarea__inner {
            border-color: #dfe4ed;
            background-color: #fff;
          }
        }
      }

      .el-input {
        height: 100%;

        .el-input__inner {
          height: 100%;
          border: 0;
          border-radius: 0;
          text-align: center;
          background-color: transparent;
        }
      }
    }
  }
}
// 模态框
.c-dialog {
  overflow: hidden;
  // 修改默认样式
  &.el-dialog {
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 90vw;
    max-height: 90vh;
    // margin: auto !important;
    padding: 0;
    box-shadow: 0 0 0 !important;
    &:not(.is-fullscreen) {
      // margin-top: 0 !important;
    }
    .el-dialog__header {
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 50px;
      padding: 0;
      border-bottom: 1px solid var(--bcs);

      // 原生标题和按钮
      .el-dialog__title {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        padding-right: 40px;
        line-height: normal;
        color: var(--fcp);
        font-size: 18px;
        font-weight: 700;
      }
      .el-dialog__headerbtn {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        .el-dialog__close {
          color: var(--fcs);
          font-size: 20px;
          &:hover {
            color: var(--tc);
          }
        }
      }
      // 自定义插槽标题和按钮
      .c-d-header {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        padding-right: 40px;
        color: var(--fcp);
        font-size: 18px;
        font-weight: 700;
        .h-t {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
        .n-o-i {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 20px;
          color: var(--fcs);
          &:hover {
            color: var(--tc);
          }
        }
      }
      &:has(.n-o-i) {
        .el-dialog__headerbtn {
          display: none;
        }
      }
    }
    .el-dialog__body {
      flex: 1;
      padding: 0;
      box-shadow: 0;
      background-color: var(--bg-inner-primary);
      overflow-y: auto;
      // 滚动条大小
      &::-webkit-scrollbar {
        display: block !important;
        width: 4px !important;
        height: 4px !important;
      }
      // 滚动条轨道
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #efefef;
      }
      // 滚动条滑块
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--tc);
      }
      // 滚动条右下角
      &::-webkit-scrollbar-corner {
        background: transparent;
      }
    }
    .el-dialog__footer {
      flex-shrink: 0;
      height: 70px;
      padding: 0;
      padding-top: 0;
      .c-d-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding-right: 20px;
        .el-button {
          margin: 0 20px 0 0;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
// 确认消息框
.c-message-confirm {
  z-index: 999;
  .el-message-box__header {
    display: flex;
    align-items: center;
    padding: 0;
    height: 40px;
    .el-message-box__title {
      margin-left: 10px;
      font-weight: 700;
    }
    border-bottom: 1px solid var(--bcs);
    .el-message-box__headerbtn {
      top: 12px;
    }
  }
  .el-message-box__content {
    .el-message-box__container {
      display: flex;
      align-items: center;
      min-height: 30px;
      line-height: 30px;
      .el-icon-warning {
        color: #ff6100;
      }
    }
    .el-message-box__message {
      p {
        margin-top: 0px;
        font-size: 14px;
        font-weight: 700;
        word-break: break-all;
      }
    }
  }
  .el-message-box__btns {
    padding: 0 15px;
    .el-button {
      &:last-child {
        background: var(--tc);
        border-color: var(--tc);
        &:hover {
          border-color: var(--tca6);
          background-color: var(--tca6);
        }
      }
    }
  }
}
// 单输入消息框
.c-message-prompt {
  z-index: 999;
  .el-message-box__header {
    display: flex;
    align-items: center;
    padding: 0;
    height: 40px;
    .el-message-box__title {
      margin-left: 10px;
      font-weight: 700;
    }
    border-bottom: 1px solid #efefef;
    .el-message-box__headerbtn {
      top: 12px;
    }
  }
  .el-message-box__content {
    .el-message-box__container {
      display: flex;
      align-items: center;
      min-height: 30px;
      line-height: 30px;
    }
    .el-message-box__message {
      p {
        margin-top: 3px;
        font-size: 14px;
        font-weight: 700;
        word-break: break-all;
      }
    }
  }
  .el-message-box__btns {
    padding: 0 15px;
    .el-button {
      &:last-child {
        background: var(--themeColor);
        border-color: var(--themeColor);
        &:hover {
          border-color: rgba(85, 199, 145, 0.6);
          background-color: rgba(85, 199, 145, 0.6);
        }
      }
    }
  }
}

// c-el-scrollbar
.el-scrollbar:has(> .c-el-scrollbar) {
  height: 100%;
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .el-scrollbar__bar {
    bottom: 2px;
    right: 2px;
    &.is-vertical {
      width: 5px;
      top: 2px;
      right: 0;
    }
    &.is-horizontal {
      height: 5px;
      left: 2px;
    }
    .el-scrollbar__thumb {
      background-color: var(--tc);
      opacity: 1;
    }
  }
}

// echart tooltip样式
.c-echart-tooltip {
  min-width: 100px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  .tooltip-title {
    width: 100%;
    height: 34px;
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    // color: var(--fcp);
    font-size: 15px;
    font-weight: bold;
  }
  .tooltip-content {
    width: 100%;
    height: calc(100% - 32px);
    padding: 8px;
    .content-item {
      width: 100%;
      height: 32px;
      display: flex;
      align-items: center;
      .item-cycle {
        width: 8px;
        height: 8px;
        // border: 2px solid #fff;
        background: blue;
        border-radius: 8px;
        margin-right: 8px;
        transform: translateY(1px);
      }
      .item-text {
        display: flex;
        flex: 1;
        align-items: center;
        height: 32px;
        .text-left {
          flex: 1;
          color: #fff;
          font-size: 14px;
          // font-weight: bold;
        }
        .text-right {
          color: rgba(255, 255, 255, 0.8);
          font-size: 14px;
          margin-left: 40px;
        }
      }
    }
  }
}
// c-icon tooltip样式
.c-icon-tooltip {
  padding: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
  line-height: 1 !important;
  transform: translateY(5px);
  transition: none !important;
  color: var(--fcp);
}
