// 常用行属性
.c-row {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  &[class*="c-row-aic"] {
    align-items: center;
  }
  &[class*="c-row-fdc"] {
    flex-direction: column;
  }
  .c-column {
    min-height: 30px;
    display: flex;
    align-items: center;
    // flex: 1;
  }
}
.c-label {
  width: 110px;
  flex-shrink: 0;
  padding-right: 10px;
  text-align: right;
  line-height: 36px;
  color: #666;
  font-size: 14px;
  font-weight: 700;
}
.c-content {
  flex: 1;
  color: #333;
  font-size: 14px;
  line-height: 36px;
}
.c-search{
  width: 100%;
  .c-search-row{
    width: 100%;
    display: flex;
    overflow: hidden;
    .c-search-column{
      flex-shrink: 0;
    }
  }
  .ant-form{
    width: 100%;
    .ant-form-item{
      margin-right: 0;
      margin-bottom: 18px;
      padding-right: 20px;
      .ant-form-item-row{
        width: 100%;
        .ant-form-item-label{
          width: 120px;
        }
      }
    }
  }
 
}
// echart tooltip样式
.c-echart-tooltip {
  min-width: 100px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  .tooltip-title {
    width: 100%;
    height: 34px;
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
  .tooltip-content {
    width: 100%;
    height: calc(100% - 32px);
    padding: 8px;
    .content-item {
      width: 100%;
      height: 32px;
      display: flex;
      align-items: center;
      .item-cycle {
        width: 8px;
        height: 8px;
        // border: 2px solid #fff;
        background: blue;
        border-radius: 8px;
        margin-right: 8px;
        transform: translateY(1px);
      }
      .item-text {
        display: flex;
        flex: 1;
        align-items: center;
        height: 32px;
        .text-left {
          flex: 1;
          color: #fff;
          font-size: 14px;
          // font-weight: bold;
        }
        .text-right {
          color: rgba(255, 255, 255, 0.8);
          font-size: 14px;
          margin-left: 40px;
        }
      }
    }
  }
}

// c-el-scrollbar
.el-scrollbar:has(>.c-el-scrollbar) {
  .el-scrollbar__bar {
    bottom: 2px;
    right: 2px;

    &.is-vertical {
      width: 5px;
      top: 2px;
    }

    &.is-horizontal {
      height: 5px;
      left: 2px;
    }

    .el-scrollbar__thumb {
      background-color: var(--tc);
      opacity: 1;
    }
  }
}



