// 一、主题变量
// 1、主题颜色
:root {
  &[theme-style='light'] {
    --bg-layout: #ddd; // 布局背景色
    --bg-card: #fff; // 卡片背景色
    --bg-mask: rgba(255, 255, 255, 0.8); // 遮罩背景色

    --bg-inner-primary: #fff; // --bg-inner-primary : 组件主要背景色
    --bg-inner-secondary: #fcfcfc; // --bg-inner-secondary : 组件二级背景色
    --bg-inner-tertiary: #fff; // --bg-inner-tertiary : 组件三级背景色

    --fcp: #333; // font-color-primary : 主要字体色
    --fcs: #666; // font-color-secondray : 次级字体色
    --fct: #999; // font-color-tertiary : 三级字体色

    --bcp: #ccc; // border-color-primary : 主要边框色
    --bcs: #ddd; // border-color-secondary : 次级边框色
    --bct: #eee; // border-color-tertiary : 三级边框色
  }

  &[theme-style='dark'] {
    --bg-layout: #141415; // 布局背景色
    --bg-card: #222325; // 卡片背景色
    --bg-mask: rgba(255, 255, 255, 0.8); // 遮罩背景色

    --bg-inner-primary: #1a1a1a; // --bg-inner-primary : 组件主要背景色
    --bg-inner-secondary: #333; // --bg-inner-secondary : 组件二级背景色
    --bg-inner-tertiary: #666; // --bg-inner-tertiary : 组件三级背景色

    --fcp: #fff; // font-color-primary : 主要字体色
    --fcs: rgba(255, 255, 255, 0.8); // font-color-secondray : 次级字体色
    --fct: rgba(255, 255, 255, 0.6); // font-color-tertiary : 三级字体色

    --bcp: #efefef; // border-color-primary : 主要边框色
    --bcs: #5d5d5d; // border-color-secondary : 次级边框色
    --bct: #666; // border-color-tertiary : 三级边框色
  }
}
// 2、主题大小
:root {
  &[theme-size='large'] {
    --ch: 40px; // components-height : 组件高度
    --cfs: 14px; // components-font-size : 组件字体大小
  }
  &[theme-size='normal'] {
    --ch: 36px;
    --cfs: 14px;
  }
  &[theme-size='small'] {
    --ch: 30px;
    --cfs: 12px;
  }
}
// 3、主题配置
:root {
  // 头部
  & {
    &[topHeaderStatus='show'] {
      --top-header-height: 70px;
    }
    &[topHeaderStatus='hide'] {
      --top-header-height: 0px;
    }
  }
  // 左侧导航
  & {
    &[leftSideStatus='expand'] {
      --left-side-width: 240px;
    }
    &[leftSideStatus='collapse'] {
      --left-side-width: 0px;
    }
    &[leftSideStatus='hide'] {
      --left-side-width: 0px;
    }
  }
}
